@import '../../style/_variables.scss';

.photo {
    padding-top: 20px;
    &__body {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__item {
        flex: 0 1 calc(33.333% - 20px);
        width: calc(33.333% - 20px);

        text-align: center;
        background-color: $lightBlue;
        color: $white;

        padding: 20px;
    }

    &__pagination {
        padding: 20px 0;
        margin: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            cursor: pointer;
            margin: 0 20px;
        }
    }

    &__perpage {
        text-align: center;
        margin-bottom: 20px;
        font-size: 21px;

        select {
            width: 100%;
            max-width: 200px;
            padding: 5px;
            font-size: 21px;
        }
    }

}

.item-photo {
    height: 100%;
    text-align: center;
    &__img {
        width: 100%;
        margin-bottom: 20px;
        img {
            width: 100%;
            height: 270px;
            object-fit: contain;
            display: block;
        }
    }

    &__link {
        margin-top: 20px;
        display: block;
        text-decoration: underline;
    }

    &__like {
        padding: 5px 10px;
        margin-top: 15px;
        background-color: $darkBlue;
        color: $white;
        font-size: 21px;

        cursor: pointer;
    }
}