@import '../../style/_variables.scss';

.header {
    padding: 20px 0;
    border-bottom: 1px solid $darkBlue;
    background-color: $lightBlue;
    color: $white;

    &__title {
        font-size: 21px;
        font-weight: bold;
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__list {
        display: flex;
        gap: 40px;

        a {
            color: $white   
        }
    }
}
